

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(223, 223, 223);
    
}
header, footer, div, main, nav {
    /*background-color: white;*/
    border: 0px solid rgb(11, 11, 11);

}
header{
    position: relative; 
    height: 5%;
}
main{
    position: relative; 
    height: 100%; width: 100%;
}

#title{
    font-weight: 600;
    font-size: 3vw;
    padding-bottom: 15px;
}
#subTitle{
    font-weight: 550;
    font-size: 2vw;
}

#pet_txt{
    margin-top: 30px;
}



.buttonsContainer{
    padding: 5px;
    margin: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.animalButton a{
    color: #323131;
    text-decoration:none;
}

.animalButton{
    padding: 5px;
    margin: 0px 5px;
    border-radius: 3px;
}

.animalButton:hover{
    background-color: #FFFF;
}

.wrapper{
    
    display: grid;
    
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(200px, auto);
    
}

.one{
    grid-column: 1/7;
    grid-row: 1;

    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;

    padding-top:25px;
    
}

.two{
    grid-column: 3/5;
    grid-row: 2/4;
    margin-top: 45px;
    margin-bottom: 10px;


    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    

}
.two img{
    /*padding: 40px 40px;*/
    width: auto;
    max-width: 320px;
    height: auto;
    max-height: 230px;
    
    border-radius: 45px;
    border: 0.5px solid black;

    margin-top: 50px;
    

}

.three{
    grid-row: 4/5;
    grid-column: 3/5;
    margin-bottom: 40px;
    
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

.randomBtn{
    margin: 5px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}



.animalButton{
    background-color: rgb(232, 230, 230) ;
    border: none;
    color:black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    font-size: 16px;
}

.randBtn{
    background-color: rgb(234, 232, 232) ;
    border: 0.25 solid black;
    border-color: rgb(133, 133, 133);
    color:black;
    padding: 25px 30px;
    text-align: center;
    text-decoration: none;
    font-weight: 700;
    display:inline-block;
    font-size: 16px;
}